/*===================================== 
YOU CAN WRIGHT CUSTOME CSS 
======================================*/

.wt-post-text p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.company-name{
    font-size: 20px;
    font-weight: 600 !important;
}

.parlex-section{
    background-attachment: fixed;
}

.hover-box-effect:hover{
    box-shadow: var(--bs-box-shadow) 
}

.what-we-do-sec{
    background-attachment: fixed;
    background-image: url(../images/background/about-parlex.png); 
}
.team-img h4 span{
    font-size: 12px;
}

.list-unstyled li{
 cursor: pointer !important;
}