/*===================================== 
YOU CAN WRIGHT CUSTOME CSS 
======================================*/

.wt-mid-page {
    position: relative;
    max-width: 945px;
    margin: 0px auto;
}
.wt-post-text p{
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 2.5%;
}
.company-name{
    font-size: 20px;
    font-weight: 600 !important;
}

.parlex-section{
    background-attachment: fixed;
}

.hover-box-effect:hover{
    box-shadow: var(--bs-box-shadow) 
}

.what-we-do-sec{
    background-attachment: fixed;
    background-image: url(../images/background/about-parlex.png); 
}
.team-img h4 span{
    font-size: 12px;
}

.list-unstyled li{
 cursor: pointer !important;
}